html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
input,
select,
textarea,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  padding: 0px;
  margin: 0px;
  white-space: normal;
  word-wrap: break-word;
  word-break: keep-all;
}
html {
  overflow-y: auto;
}
html,
body {
  width: 100%;
}
body {
  min-width: 1280px;
}
body.window_pop {
  min-width: 0;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: 400;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
fieldset {
  border: 0;
  outline: none;
}
label {
  cursor: pointer;
}
i,
em,
address {
  font-style: normal;
}
caption,
legend {
  visibility: hidden;
  width: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
}
img {
  max-width: 100%;
}
sup {
  font-size: 11px;
  display: inline-block;
  padding-left: 1px;
  position: relative;
  vertical-align: baseline;
  top: -5px;
}
html.windowPop body {
  min-width: 0;
}
/* html5 ie9 else */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input,
select,
textarea,
button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent;
  border: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: none;
}

.blind {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 1px;
  line-height: 0;
}
