<html id="hamHtml" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="commonHead">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0">
	<meta name="author" content="#">
	<meta name="Description" content="">
	<meta name="Keywords" content="">
	<title>#</title>

	<link rel="shortcut icon" type="image/x-icon" href="#">
	<link rel="icon" href="#">
	<link rel="stylesheet" type="text/css" href="/front/resources/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/front/resources/css/common.css">
	<link rel="stylesheet" type="text/css" href="/front/resources/css/main.css">
	<link rel="stylesheet" type="text/css" href="/front/resources/css/sub.css">
	<link rel="stylesheet" type="text/css" href="/front/resources/css/index.css">
	<link rel="stylesheet" type="text/css" href="/front/resources/css/add.css">
	<link rel="stylesheet" href="/front/common/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="/front/common/css/aos.css">
</head>

<body id="hamBody" class="" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">


	<div id="container">
		<th:block th:fragment="commonHeader(white, dark)">
			<header id="header" class=""
          	th:classappend="${dark} ? ' header--dark' : (${white} ? ' header--white' : '')">
				<section class="header-inner">
					<h1 class="header-logo"><a href="/"></a></h1>
					<nav class="header-gnb">
						<ul class="gnb-menu_list">
							<li class="gnb-menu_item">
								<a class="gnb-menu_link" href="/" title="#"><span>TITLE</span></a>
								<ul class="snb-menu">
									<li class="snb-menu_item"><a class="snb-menu_link" href="/index" title="#">홈</a></li>
									
								</ul>
							</li>
							<li class="gnb-menu_item">
								<a class="gnb-menu_link" href="/" title="#"><span>TITLE</span></a>
								<ul class="snb-menu">
									<li class="snb-menu_item"><a class="snb-menu_link" href="/about" title="#">ABOUT</a></li>
									<li class="snb-menu_item"><a class="snb-menu_link" href="/surgeryDetail" title="#">수술-복잡</a></li>
									<li class="snb-menu_item"><a class="snb-menu_link" href="/surgerySimple" title="#">수술-간단</a></li>
									
								</ul>
							</li>
							<li class="gnb-menu_item">
								<a class="gnb-menu_link" href="/" title="#"><span>TITLE</span></a>
								<ul class="snb-menu">
									<li class="snb-menu_item"><a class="snb-menu_link" href="/contact" title="#">문의하기</a></li>
									<li class="snb-menu_item"><a class="snb-menu_link" href="/notice" title="#">공지사항</a></li>
									<li class="snb-menu_item"><a class="snb-menu_link" href="/faq" title="#">FAQ</a></li>
								</ul>
							</li>
							<li class="gnb-menu_item">
								<a class="gnb-menu_link" href="/" title="#"><span>TITLE</span></a>
								<ul class="snb-menu">
									<li class="snb-menu_item"><a class="snb-menu_link" href="#" title="#">MENU</a></li>
								</ul>
							</li>
							<li class="gnb-menu_item">
								<a class="gnb-menu_link" href="/" title="#"><span>TITLE</span></a>
								<ul class="snb-menu">
									<li class="snb-menu_item"><a class="snb-menu_link" href="#" title="#">MENU</a></li>
								</ul>
							</li>
						</ul>
						<div class="snb-menu-bg"></div>
					</nav>
					<div class="gnb-right">
						<div class="right-wrap">
							<a href="#">CONTACT</a>
						</div>
						<div class="ham" id="hamburger" onclick="openHamburger()">
							<a href="javascript:void(0);">
								<span></span>
								<span></span>
								<span></span>
							</a>
						</div>
					</div>
				</section>
			</header>
			<nav class="mobile-gnb-wrap">
				<div class="mobile-gnb">
					<ul class="mobile-gnb_list">
						<li class="mobile-gnb_item">
							<a class="mobile-gnb_link" href="javascript:void(0);" onclick="openMobileGnbItem('engloo')"
								title="#">TITLE</a>
							<ul class="moblieSnb-menu">
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
							</ul>
						</li>
						<li class="mobile-gnb_item">
							<a class="mobile-gnb_link" href="javascript:void(0);" onclick="openMobileGnbItem('engloo')"
								title="#">TITLE</a>
							<ul class="moblieSnb-menu">
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
							</ul>
						</li>
						<li class="mobile-gnb_item">
							<a class="mobile-gnb_link" href="javascript:void(0);" onclick="openMobileGnbItem('engloo')"
								title="#">TITLE</a>
							<ul class="moblieSnb-menu">
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
							</ul>
						</li>
						<li class="mobile-gnb_item">
							<a class="mobile-gnb_link" href="javascript:void(0);" onclick="openMobileGnbItem('engloo')"
								title="#">TITLE</a>
							<ul class="moblieSnb-menu">
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
							</ul>
						</li>
						<li class="mobile-gnb_item">
							<a class="mobile-gnb_link" href="javascript:void(0);" onclick="openMobileGnbItem('engloo')"
								title="#">TITLE</a>
							<ul class="moblieSnb-menu">
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
								<li class="moblieSnb-menu_item"><a class="moblieSnb-menu_link" href="#"
										onclick="openHamburger()" title="#">MENU</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</th:block>

		<footer th:fragment="commonFooter">
			<section class="inner">
				<a href="javascript:void(0);" class="btn_top" onclick="Scroll_Top()"><s></s></a>
				<div class="footer1">
					<ul>
						<li>
							<a href="#" target="_blank">이용약관</a>
							<a href="#" target="_blank"><em>개인정보처리방침</em></a>
							<a href="#" target="_blank">비급여항목수가표</a>
							<a href="#" target="_blank">국내홈페이지</a>
						</li>
					</ul>
				</div>
				<div class="footer2">
					<ul>
						<li>
							<span>새김성형외과의원</span>
							<span>대표자 : 김지명, 문혜영 </span>
							<span>대표번호:1833-7227</span>
						</li>
						<li>
							<span>서울특별시 강남구 언주로 856, 지하2층~6층(신사동)</span>
							<span><s></s>대표번호:1833-7227</span>
						</li>
						<li class="copy">Copyright © 새김성형외과의원. All rights reserved.</li>
					</ul>
				</div>
			</section>
		</footer>
	</div>
	<th:block th:fragment="commonScript">
		<script src="/front/common/js/jquery-3.7.0.min.js"></script>
		<script src="/front/common/js/jquery-ui.min.js"></script>
		<script src="/front/common/js/jquery-latest.min.js"></script>
		<script src="/front/common/js/swiper-bundle.min.js"></script>
		<script src="/front/common/js/aos.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
		<script src="/front/resources/js/all.js"></script>
		<script src="/front/resources/js/common.js"></script>
		<script>
			window.onresize = function (event) {
				var innerWidth = window.innerWidth;
				if (innerWidth <= "600") {
					$(".mo-cover").show();
				} else {
					$(".mo-cover").hide();
				}
			}
			AOS.init();
		</script>
	</th:block>
</body>

</html>