<html id="hamHtml" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: commonHead"></head>

<body id="hamBody" class="" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
	<div id="container">
		<th:block th:replace="fragments/front/common :: commonHeader"></th:block>
		<main id="main">
			<div class="main-wrap">
				<section class="bsc_container">
					<section class="certification_bsc" id="anchorCerti">
						<div class="certi_cnt01">
							<div class="inner">
								<div class="title-wrap aos-init" data-aos="fade-right" data-aos-duration="1000">
									<p class="title">새김성형외과는 <span class="txtBg">아름다움은 물론</span></p>
									<p class="title"><span class="txtBg">환자의 안전까지</span> 준비합니다.</p>
									<span class="sub-txt">기간이 지날수록 자연스럽게 유지되는 아름다움과,<br class="pc_show">부작용을 최소화하는
										안전한 수술만을 제공합니다.</span>
								</div>
							</div>
						</div>
					</section>
					<section class="subtit-wrap">
						<div class="inner w1280">
							<div class="series">
								<a class="phonics" href="javascript:void(0);"><span>Whiz Kid</span>Phonics<s></s></a>
							</div>
							<p class="title">engloo New Phonics Series</p>
							<span class="sub-txt">영어를 처음 배우는 취학 전 아동부터 영어의 기초가 부족한 학생들이<br class="pc_show"> 알파벳과 기본 음가를
								학습하여 영어의
								기초를 다질 수 있는 기본 과정입니다.</span>
							<ul class="btag-list phonics">
								<li class="btag-list__item"><span>유치원생 · 초등 저학년</span></li>
								<li class="btag-list__item"><span>JET Kids</span></li>
								<li class="btag-list__item"><span>총 8권</span></li>
							</ul>
						</div>
					</section>
					<section class="default-wrap default-wrap__type--pv">
						<div
							class="book-preivew_swiper swiper-container swiper-initialized swiper-horizontal swiper-autoheight swiper-backface-hidden">
							<div class="book-preivew__wrap swiper-wrapper" id="swiper-wrapper-4302f7775dea55d5"
								aria-live="polite"
								style="height: 534px; transform: translate3d(-787px, 0px, 0px); transition-duration: 0ms;">
								<div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 3">
									<div class="book-preivew__item"><img
											src="https://upsisa.ybmnet.co.kr/new_business/ybmengloo_com_PHP/images/book/phonicsCover.png">
										<p class="ebookBtn">
											<a href="http://www.ebookand.com/ybmengloo/Phonics/ebook/index.html?contentInformationURL=./epub/&amp;page=1"
												target="_blank">
												<i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
														<path
															d="M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z"
															fill="rgba(255,255,255,1)"></path>
													</svg>
												</i>
												<span>e<em class="">Book</em></span>
											</a>
										</p>
									</div>
								</div>
								<div class="swiper-slide swiper-slide-active" role="group" aria-label="2 / 3">
									<div class="book-preivew__item"><img
											src="https://upsisa.ybmnet.co.kr/new_business/ybmengloo_com_PHP/images/book/PhonicsS01.png">
									</div>
								</div>
								<div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 3">
									<div class="book-preivew__item"><img
											src="https://upsisa.ybmnet.co.kr/new_business/ybmengloo_com_PHP/images/book/PhonicsS02.png">
									</div>
								</div>
							</div>
							<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
						</div>
						<div class="swiper-scrollbar swiper-scrollbar-horizontal">
							<div class="swiper-scrollbar-drag"
								style="transform: translate3d(194.784px, 0px, 0px); transition-duration: 0ms; width: 196.061px;">
							</div>
						</div>
					</section>
					<section class="curriculum_bsc bsc_ly" id="anchorCurri">
						<div class="inner">
							<div class="title-wrap">
								<p class="title">잉글루에서는 온라인, 오프라인이 연계된 체계적인 커리큘럼을 통해 실생활 영어로 연계되는 수업을 진행합니다.</p>
								<span class="sub-txt">단계별 목표 시험에 맞는 체계적인 학습 프로그램과 TOEIC, TOEFL에서 요구하는 60 Skills를 단계적으로
									소화합니다.</span>
							</div>
							<div class="article-wrap">
								<ul class="curi-list">
									<li class="curi-list_item curiItem1 aos-init" data-aos="fade-up"
										data-aos-duration="1000">
										<div class="curiCont-wrap right">
											<p class="curiCont-tit">Whiz Kid</p>
											<p class="curiCont-txt">영어를 처음 배우는 취학 전 아동부터 영어의 기초가 부족한 학생들이 알파벳과 기본 음가를
												학습하며 영어의 기초를 다지는 Phonics 학습</p>
											<div class="curiInfo-wrap">
												<div class="curiInfo_item">
													<p class="curiInfo-head">학습대상</p>
													<p class="curiInfo-body">유치원생, 초등학교 저학년</p>
												</div>
												<div class="curiInfo_item">
													<p class="curiInfo-head">학습교재</p>
													<p class="curiInfo-body">Phonics<a class="btn btn_xs btn_inline"
															href="/front/book/phonics.php">교재보기</a></p>
												</div>
												<div class="curiInfo_item">
													<p class="curiInfo-head">대상시험</p>
													<p class="curiInfo-body">JET Kids</p>
												</div>
											</div>
										</div>
									</li>

									<li class="curi-list_item curiItem2 aos-init" data-aos="fade-up"
										data-aos-duration="1000">
										<div class="curiCont-wrap left">
											<p class="curiCont-tit">Ace</p>
											<p class="curiCont-txt">Phonics 과정 이후 일상 생활에서 자주 활용되는 기본적인 생활 회화 표현과 함께
												자연스럽게 문법을 학습하는 단계로 초등학교 기본 과정부터 중, 고급 과정까지 단계별로 익히는 과정</p>
											<div class="curiInfo-wrap">
												<div class="curiInfo_item">
													<p class="curiInfo-head">학습대상</p>
													<p class="curiInfo-body">초등학교 저학년, 초등학교 고학년</p>
												</div>
												<div class="curiInfo_item">
													<p class="curiInfo-head">학습교재</p>
													<p class="curiInfo-body">Orange, Yellow, Green<a
															class="btn btn_xs btn_inline"
															href="/front/book/orange.php">교재보기</a></p>
												</div>
												<div class="curiInfo_item">
													<p class="curiInfo-head">대상시험</p>
													<p class="curiInfo-body">JET 5, 6 / JET 3, 4<br>JET Speaking 5, 6 /
														JET Speaking 3, 4</p>
												</div>
											</div>
										</div>
									</li>

									<li class="curi-list_item curiItem3 aos-init" data-aos="fade-up"
										data-aos-duration="1000">
										<div class="curiCont-wrap right">
											<p class="curiCont-tit">Master</p>
											<p class="curiCont-txt">중학교 과정 커리큘럼으로 구성된 단계로 리딩 지문 독해를 통해 중, 고급 문법과 회화를 익힐
												수 있으며, 고급 어휘와 문법 실력 강화 및 내신문제 유형 풀이가 가능한 과정</p>
											<div class="curiInfo-wrap">
												<div class="curiInfo_item">
													<p class="curiInfo-head">학습대상</p>
													<p class="curiInfo-body">초등학교 고학년, 중학교</p>
												</div>
												<div class="curiInfo_item">
													<p class="curiInfo-head">학습교재</p>
													<p class="curiInfo-body">Blue, Navy, Purple<a
															class="btn btn_xs btn_inline"
															href="/front/book/blue.php">교재보기</a></p>
												</div>
												<div class="curiInfo_item">
													<p class="curiInfo-head">대상시험</p>
													<p class="curiInfo-body">JET 1, 2 / TOEIC Bridge<br>JET Speaking 1,
														2</p>
												</div>
											</div>
										</div>
									</li>

									<li class="curi-list_item curiItem4 aos-init" data-aos="fade-up"
										data-aos-duration="1000">
										<div class="curiCont-wrap left">
											<p class="curiCont-tit">iBT</p>
											<p class="curiCont-txt">특목고를 대비한 iBT 과정을 준비하기 위한 준비 단계로 <br
													class="pc_show">Basic, Intermediate, Advanced로 연계되는 시리즈를 통해 <br
													class="pc_show">문법, 독해, 청해, 작문의 영역을 골고루 학습</p>
											<div class="curiInfo-wrap">
												<div class="curiInfo_item">
													<p class="curiInfo-head">학습대상</p>
													<p class="curiInfo-body">중학교, 고등학교</p>
												</div>
												<div class="curiInfo_item">
													<p class="curiInfo-head">학습교재</p>
													<p class="curiInfo-body">iBT<a class="btn btn_xs btn_inline"
															href="/front/book/basic.php">교재보기</a></p>
												</div>
												<div class="curiInfo_item">
													<p class="curiInfo-head">대상시험</p>
													<p class="curiInfo-body">TOEIC</p>
												</div>
											</div>
										</div>
									</li>

								</ul>
							</div>
						</div>
					</section>
				</section>
			</div>
		</main>

		<footer th:replace="fragments/front/common :: commonFooter"></footer>
	</div>
	<th:block th:replace="fragments/front/common :: commonScript"></th:block>
</body>

</html>